%tr.event
  %td.avatar
    = image_tag event[:actor][:avatar_url]
    %br/
    = link_to event[:actor][:display_login], "https://github.com/#{event[:actor][:login]}", target: "_blank"
  %td= event[:type]
  %td
    = event[:created_at]
    %br/
    = event[:time_ago]